click==8.5.0
click-default-group==1.2.4
iniconfig==2.3.0
packaging==26.3
pip==26.2.1
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
sqlite-fts4==1.0.3
tabulate==0.10.0
wheel==0.46.3
