pytest==8.4.1
mock==5.2.0
python-dateutil==2.9.0.post0
tenacity==9.1.2
tornado==6.5.2
python-daemon==3.1.2
typing-extensions==4.15.0
hatchling==1.27.0
hatch-fancy-pypi-readme==25.1.0
editables==0.5
iniconfig==2.3.0
lockfile==0.12.2
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
pygments==2.21.0
six==1.17.0
trove-classifiers==2026.6.1.19
psutil==7.0.0
